<!DOCTYPE html>
<html>
  <head>
    <title>PlaceholderName</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'authentication' %>
    <%= vite_stylesheet_tag 'authentication' %>
  </head>
  <body class="h-screen flex flex-col items-center justify-center bg-gray-100">
    <%= yield %>
  </body>
</html>
